// Tufte inspired style sheet
// Adapted from https://github.com/edwardtufte/tufte-css/blob/gh-pages/tufte.css

@import "variables";

// Main blocks

html {
  font-size: 16px;
}

@media (max-width: 760px) {
  html {
    font-size: 14px;
  }
}

body {
  width: $main-width;
  margin-left: auto;
  margin-right: auto;
  //padding-left: 11%; // ET recommends 12.5%
  font-family: $main-family;
  background-color: $background-color;
  color: $foreground-color;
  max-width: 1050px;
  counter-reset: sidenote-counter;
}

@media (max-width: 760px) {
  body {
    width: 88%; // ET recommends 84%
    padding-left: 6%; // ET recommends 8%
    padding-right: 6%; // ET recommends 8%
  }
}

article {
  width: 100%;
  padding: 5rem 0rem;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p,
dl,
ol,
ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
  &.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
  }
}

p,
footer,
table {
  width: $p-width;
}

@media (max-width: 760px) {
  p,
  footer,
  table {
    width: 100%;
  }
}

// 50 + 5 == 55, to be the same width as paragraph
dl,
ol,
ul {
  width: 90%; // ET recommends 50%
  -webkit-padding-start: 2%; // ET recommends 5%
}

@media (max-width: 760px) {
  dl,
  ol,
  ul {
    width: 90%;
  }
}

// Headers

h1,
h2,
h3 {
  font-weight: 400;
  line-height: 1;
}

h1 {
  font-size: 3.2rem;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.2rem;
  font-style: italic;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
}

h3 {
  font-size: 1.7rem;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}

h1 > code,
h2 > code,
h3 > code {
  font-size: 0.8em;
}

// Misc

a {
  &:link,
  &:visited {
    color: inherit;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 0.05em;
  }
}

.sans {
  font-family: $sans-family;
  letter-spacing: 0.03em;
  & > code {
    font-size: 1.2rem;
  }
}

.mono {
  font-family: $mono-family;
}

.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

span.fullwidth {
  max-width: 90%;
  clear: both;
}

div.fullwidth,
table.fullwidth {
  width: 100%;
}

div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

@media (max-width: 760px) {
  div.table-wrapper,
  table {
    width: 85%;
  }
}

hr {
  display: block;
  height: 1px;
  width: $p-width;
  border: 0;
  //border-top: 1px solid #ccc; // ET recommended
  border-top: 1px dashed $foreground-color;
  margin: 1em 0;
  padding: 0;
}

@media (max-width: 760px) {
  hr {
    width: 100%;
  }
}

/*.numeral { // Uncomment once available
  font-family: "et-book-roman-old-style";
}*/

.danger {
  color: red;
}

blockquote {
  & p {
    width: $p-width;
    margin-right: 40px;
  }
  & footer {
    width: 100%;
    font-size: 1.1rem;
    text-align: right;
  }
}

@media (max-width: 760px) {
  blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
    & p,
    & footer {
      width: 100%;
    }
  }
}

dt:not(:first-child),
li:not(:first-child) {
  margin-top: 0.25rem;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// Figures and images

img {
  max-width: 100%;
}

@media (max-width: 760px) {
  img {
    width: 100%;
  }
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: $p-width;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
  &.fullwidth figcaption {
    margin-right: 24%;
  }
}

@media (max-width: 760px) {
  figure {
    max-width: 100%; // ET recommends 90%
  }
}

figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

@media (max-width: 760px) {
  figcaption,
  figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }
}

// Code blocks

pre {
  max-width: calc(100% - 2.5%); // ET doesn't specify
}

@media (max-width: 760px) {
  pre {
    max-width: calc(100% - 5%); // ET doesn't specify
  }
}

code,
pre > code {
  font-family: $mono-family;
  font-size: 1rem;
  line-height: 1.42;
  -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

pre > code {
  font-size: 0.9rem;
  width: 52.5%;
  margin-left: 0; // ET recommends 2.5%
  padding-left: 2.5%; // ET doesn't specify
  overflow-x: auto;
  display: block;
}

@media (max-width: 760px) {
  pre > code {
    width: 97%;
  }
}

pre.fullwidth > code {
  width: 90%;
}

// Side- and margin notes

.sidenote,
.marginnote {
  float: right;
  clear: right;
  margin-right: $sidenote-margin;
  width: $sidenote-width;
  margin-top: 0.3rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.3;
  vertical-align: baseline;
  position: relative;
  & > code,
  & > code {
    font-size: 1rem;
  }
}

.sidenote:before {
  content: counter(sidenote-counter) " ";
  font-size: 0.8rem;
  top: -0.5rem;
}

.sidenote-number {
  counter-increment: sidenote-counter;
  &:after {
    content: counter(sidenote-counter);
    font-size: 0.8rem;
    top: -0.5rem;
    left: 0.1rem;
  }
}

.sidenote-number:after,
.sidenote:before {
  position: relative;
  vertical-align: baseline;
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

input.margin-toggle {
  display: none;
}

label.sidenote-number {
  display: inline-block;
  max-height: 2rem; /* should be less than or equal to paragraph line-height */
}

label.margin-toggle:not(.sidenote-number) {
  display: none;
}

@media (max-width: 760px) {
  label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .sidenote,
  .marginnote {
    display: none;
  }

  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    //vertical-align: baseline;
    position: relative;
  }

  label {
    cursor: pointer;
  }
}

// Chapter epigraphs

div.epigraph {
  margin: 5em 0;
  & > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
    font-style: italic;
    & > p {
      font-style: italic;
    }
    & > footer {
      width: $p-width; // ET didn't specify explicitly here
      font-style: normal;
      & > span > p {
        font-size: 1.1rem;
      }
      & > cite {
        font-style: italic;
      }
    }
  }
}

@media (max-width: 760px) {
  div.epigraph {
    & > blockquote {
      & > footer {
        width: 100%;
      }
    }
  }
}
