{{ define "main" }}
<div class="content-container">
  <a href="/" class="xref">
    <i data-feather="arrow-left" width="18" height="18"></i
    ><span class="xref-text">back to home</span>
  </a>
  <main>
    <div class="index">
      <h1 class="index-title">{{ .Title | markdownify }}</h1>
      <div class="nav-block">
        <nav class="index-nav">
          {{ with .Site.Menus.main }} {{ range sort . "Weight" }}
          <a href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }} {{ $text }}
          </a>
          {{ end }} {{ end }}
        </nav>
      </div>
    </div>
  </main>
</div>
{{ end }}
