{{ define "main" }}
{{ if .Site.Params.show_breadcrumbs }}
  <nav class="breadcrumbs">
    <a href="{{ .Site.BaseURL }}">{{ .Site.Params.home_name }}</a>
  </nav>
{{ end }}
<div class="content-container">
  <main>
    <div class="index">
      <h1 class="index-title">{{ .Title | markdownify }}</h1>
      <div class="nav-block">
        <nav class="bottom-nav">
          {{ with .Site.Menus.main }} {{ range sort . "Weight" }}
          <a href="{{ .URL }}">
            {{ $text := print .Name | safeHTML }} {{ $text }}
          </a>
          {{ end }} {{ end }}
        </nav>
      </div>
    </div>
  </main>
</div>
{{ end }}
